@import './apps/email/pages/mail-app.css';
@import './apps/keep/pages/keep-app.css';
@import './pages/app-header.css';
@import './cmps/user-msg.css';
@import './pages/app-footer.css';
@import './pages/homepage.css';

@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    background-color: #333652;
    color: #E9EAEC;
    margin: 0;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

.content-wrap {
    padding-bottom: 5rem;
}