.email-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-preview {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-inline-end: 1rem ;
}

.email-list li {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}
.email-list li span {
    font-weight: bold;
}
.subject {
    font-weight: bold;
}
.email-preview img {
    width: 20px;
    height: 15px;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

.preview-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.li-end {
    display: flex;
    gap: 5px;
}

.email-preview button {
    background-color: #90ADC6;
    border-radius: 5px;
    cursor: pointer;

}