@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto.ttf);
}

.keep-header input {
    border: 0px solid black;
    font-size: 1.3rem;
    border-radius: 0.2em;
    background-color: rgb(77, 137, 206);
    color: white;
}

.add-button {
    display: block;
}

.keep-header button {
    background-color: #fad12cde;
    border: none;
    font-size: 1.3rem;
    border-radius: 0.5em;
    width: 100px;
    margin-left: 7px;
    margin-right: 7px;
}

.keep-header button:hover {
    cursor: pointer;
    background-color: #f0d66fde;
}

.keep-header form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* flex-wrap: wrap  ; */
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.keep-header form button {
    margin-top: 10px
}

.new-note-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-note-details input {
    height: 1.3em;
    align-content: center;
}

.note-input:first-child {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.note-input:last-child {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.note-input:last-child label {
    max-width: 50%;
}

.note-input label {
    /* width: 300px; */
}


/* media */

@media(max-width: 950px) {
    .new-note-details {
        flex-direction: column;
    }
    .keep-header form button {
        margin-top: 10px
    }
    .keep-header button {
        margin-top: 10px;
    }
    .note-add-options {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .note-input {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .note-input:first-child {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .note-input:last-child {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}