@import '../cmps/note-preview.css';
@import '/css/apps/keep/pages/note-details.css';
@import '/css/apps/keep/cmps/note-toolbox.css';
@import '/css/apps/keep/cmps/note-list.css';
@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto.ttf);
}

.main {
    font-family: roboto;
    max-width: 950px;
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
    margin: auto;
}

@media(max-width: 850px) {
    .main {
        width: 100%;
    }
}