/* general */

.note {
    box-sizing: border-box;
    margin: auto;
    border: 2px solid black;
    width: 880px;
    height: 300px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    margin-bottom: 5px;
    font-size: 2em
}


/* type: text */

.text-input {
    width: 100%;
    height: 150px;
    flex: none;
    text-align: start;
}


/* type: image */

.note-image-container {
    height: 500px;
    align-items: center;
}

.note-image {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80%;
    width: 80%;
    object-fit: cover;
}