@import '../cmps/email-list.css';
@import '../cmps/email-filter.css';
@import '../cmps/email-compose.css';
@import '../cmps/email-details.css';
@import '../cmps/outbox-list.css';

.email-home {
    display: flex;
}

.nav-bar {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.email-home a {
    text-decoration: none;
    color: inherit;
}

.email-home h2 {
    margin: auto;
}

.nav-bar a {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    border-bottom: 2px solid #90ADC6;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

.nav-bar a:hover {
    box-shadow: 0px 0px 70px -20px #4952a59c inset;
}

.email-status {
    display: inline;
}

@media (max-width: 750px) {
    .email-home {
        flex-direction: column;
    }
    .nav-bar {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav-bar a {
        border-bottom: none;
        padding: 0;
        width: 100px;
    }
    .nav-bar a:not(:last-child) {
        border-right: 1px solid #90ADC6;
    }
    .nav-bar a:hover {
        box-shadow: none;
        color: rgba(136, 221, 115, 0.774);
    }
}